@font-face {
    font-family: titleFonts;
    font-weight: 400;
    src: url("Oranienbaum-Regular.woff2") format('woff2');
}

@font-face {
    font-family: plex;
    font-weight: 400;
    src: url("IBMPlexSansCondensed-Regular.woff2") format('woff2');
}

@font-face {
	font-family: iosevka;
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('IosevkaFixedSS14-Regular.woff2') format('woff2');
}

body {
    color: white;
    /* background-color: #1a1a1a; */
    background: radial-gradient(circle, #1a1a1a 0%, #0a0a0a 100%);
    margin: 0;

    font-family: plex;
    font-size: 14pt;

    line-height: 150%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

h1, h2, h3 {
    font-family: titleFonts;
    margin: 0pt;
}

h1 {
    font-size: 32pt;
    margin: 1rem 0pt;
    text-align: center;
}

h2, p, a {
    margin: 16pt 16pt 0pt 0pt;
}

a {
    color: #d7fffc;
    transition: color 0.1s ease 0s;
}

a:hover {
    color: gray;
}

/* this is a box that holds central sections */
#central_holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50pt 16pt 16pt 16pt;
}

/* these are the rounded boxes that represent a section */
.central_section {
    display: flex;
    flex-direction: column;
    
    /* should see whether i like it with or without this padding */
    /* padding: 32pt 16pt 16pt 16pt; */
    
    max-width: 600pt;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 16pt;
    padding: 16pt;
    
    background-color: #2f2f2f;
    border-color: gray;
    border-style: solid;
    border-radius: 4pt;
    border-width: 1pt;
    box-shadow: 0 0 4pt #0f0f0f;
}

.code_block {
    background-color: #1a1a1a;
    border-color: #4a4a4a;
    border-width: 1pt;
    border-style: solid;
    border-radius: 4pt;

    font-family: iosevka;

    /*  right now we have margin-bottom set to 0pt, because it looks better and
        we also don't have any text under the only codeblock on the site

        it might be a good idea to get rid of that or at least experiment with other
        options if we ever put a <p> underneath a codeblock
    */
    margin: 16pt 0pt 0pt;

    font-size: 12pt;
}

.code_block p, a {
    margin-top: 16pt;
    margin-left: 16pt;
    padding: 0;
}

.menu_bar {
    display:flex;
    align-items: stretch;
    font-family: titleFonts;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    flex-direction: row;
    justify-content: space-around;
    background-color: #1f1f1f;
    box-shadow: 0 0 1em #121212;
}

.menu_bar a {
    color: white;
    text-decoration: none;
    text-align: center;
    flex: 1;

    /* This somehow works for vertically centering text? */
    line-height: 36pt;
    height: 36pt;
    margin: 0;
    /* padding: 16px 0px; */
    
    transition: color 0.1s ease 0s;
    transition: background-color 0.1s ease 0s;
    transition: font-size 0.2s ease 0s;
}

.menu_bar a:hover {
    color: #1a1a1a;
    background-color: white;
    font-size: 16pt;
}